*.cpp~
compare
del_corr
eventizer
filter_events
filter_eventtypes
find_duplicates
find_mlma
find_uncrowded
fuse
indel_split
left_align
min_bedmaker
read_reference
remove_double_alts
remove_events
remove_homref
size_ass
sort
standardize
unravel_alts
uniquify
uniquify_loci

